@font-face {
	src: url('../fonts/LibreBaskerville-Regular.ttf');
}

.root {
	-fx-font-family: 'Libre Baskerville';
	-fx-font-size: 15;
	-fx-cursor: hand;
}

.tool-bar {
	-fx-padding: 10px;
}

.check-box {
	-fx-padding: 10px;
	-fx-alignment: center;
}

.canvas {
	-fx-cursor: crosshair;
}
